body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

.container {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.card {
  background: var(--color-light);
  padding: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-signal);
  box-shadow: .5rem .5rem 0 var(--color-signal);
  width: 100%; /* Ensure the card takes full width of the container */
}

.card-body {
  background: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-signal);
  box-shadow: .5rem .5rem 0 var(--color-signal);
  width: 100%; /* Ensure the card body takes full width of the card */
}

.input-container {
  width: 100%; /* Ensure input container takes full width of the card body */
  margin-bottom: 20px; /* Spacing between input containers */
}

.input {
  background-color: #15172b;
  border-radius: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 20px;
  width: 100%;
  color: #fff;
  margin-bottom: 20px; /* Add spacing for specific inputs */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure button container takes full width of the card body */
}

button {
  width: 50px;
  height: 56px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 10px;
  line-height: 56px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  border-radius: 5px;
  margin-right: 10px; /* Adjust spacing between buttons */
  margin-top: 20px; /* Adjust spacing above buttons */
}

button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

button:hover {
  color: #000;
}

span {
  transition: all 0.7s;
  z-index: -1;
}

button .first {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffa500;
}

button:hover .first {
  top: 0;
  right: 0;
}

button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

button:hover .second {
  top: 0;
  left: 50%;
}

button .third {
  content: "";
  position: absolute;
  left: 70%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffa500;
}

button:hover .third {
  top: 0;
  left: 25%;
}

button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

button:hover .fourth {
  top: 0;
  left: 0;
}
